/* public */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.row {
    display: flex;
    justify-content: left;
    align-items: center;
}

.capital {
    text-transform: capitalize;
}

@font-face {
    font-family: "Comic Sans MS";
    src: url(../fonts/comic.ttf);
}

@font-face {
    font-family: "Trebuchet MS";
    src: url(../fonts/trebuc.ttf);
}

@font-face {
    font-family: "Arial Rounded MT";
    src: url(../fonts/ARLRDBD.ttf);
}

@font-face {
    font-family: "Tohoma";
    src: url(../fonts/tahoma.ttf);
}

@font-face {
    font-family: "Unispace";
    src: url(../fonts/unispaceBd.ttf);
}

body {
    font-family: Tahoma;
}

.textAreaLabel {
    vertical-align: top;
}

/* end public style */


/* home page style */
/* navbar section */
.navbar {
    position: fixed;
    width: 100%;
    overflow: hidden;
    font-family: "Comic Sans MS";
    background-color: #00BAFF;
}

/* style for section containing links in the navbar */
.nav {
    float: left;
    width: 70%;
    text-align: left;
    margin: 27px 0px 15px 45px;
}

/* list style in the navbar */
.nav .list {
    list-style-type: none;
}

/* list item style in the navbar */
.list .list-item {
    display: inline-block;
}

/* links style in the navbar */
.list .link-nav {
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 43px;
    font-weight: bold;
    color: black;
}

.list .current {
    color: white;
}

/* logo style */
.logo {
    float: right;
    width: 60px;
    padding-top: 5px;
}

#alazharLogo {
    height: 60px;
}

/* end navbar style */

/* header style */
.header-content {
    height: 100vh;
}

.header-content-item {
    text-align: left;
    padding-top: 85px;
}

#home-heading {
    margin-left: 45px;
    margin-bottom: 20px;
    font-family: Unispace;
    font-size: 34px;
}

/* table style */

.table-info {
    margin-left: 32px;
    margin-right: 30%;
}

.table-row td {
    padding: 14px 13px 14px 13px;
    font-size: 15px;
}

.table-cell-2 {
    font-weight: bold;
}

/* end table style */

/* personal img style */
#personal-img {
    width: 350px;
    height: 350px;
    margin-top: 15px;
    border: 1px solid grey;
}

/* end home page style */


/* Start Add Course page style */
.header-content-item {
    padding-top: 100px;
}

.headerImg {
    height: 480px;
    padding-left: 140px;
}

.form {
    margin-left: 120px;
}

td {
    padding: 9px 15px 9px 13px;
    font-size: 15px;
}

input[type=text],
input[type=date],
input[type=number],
input[type=url],
#customSelect /* This id from Add Experience page but has sharing style with those inputs */
    {
    border-radius: 5px;
    border: solid 1px grey;
    height: 25px;
    width: 150px;
}

input[type=radio] {
    accent-color: black;
}

textarea {
    border-radius: 5px;
}

input[type=submit] {
    background-color: rgb(31, 132, 83);
    border: solid 1px rgb(31, 132, 83);
    color: white;
    width: 140px;
    height: 20px;
    border-radius: 5px;
    margin-left: 7px;
}

input[type=reset] {
    background-color: rgb(220, 53, 72);
    border: solid 1px rgb(220, 53, 72);
    color: white;
    width: 140px;
    height: 20px;
    border-radius: 5px;
    margin-left: 170px;
}

/* End Add Course page style */

/* Start Add Experience page style */
.addExperienceTableRow input[type=reset] {
    margin-left: 70px;
    margin-right: 140px;
}

.addExperienceTableRow td {
    padding: 10px 15px 17px 5px;
    font-size: 15px;
}

/* End Add Experience page style */